<h1>this is abouts page<h1/>

<p> <strong>Create New Article:</strong> 
<%= link_to 'click here to create new article', new_article_path %>
</p>

<%= link_to 'All Articles list', articles_path %>

<%= link_to 'HomePage', root_path %>
