<h1 class="text-center mt-4">Edit Category</h1>
<div class="container">
<div class = "row justify-contnet-center">
  <div class = "col-10">
      <%= render 'form' %>
    </div>
    </div>
</div>

    